<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
    {{> headclient}}

<body  class="product-page">
<div class="se-pre-con"></div>
<div class="main"> 

  {{> headernavclient}}


        <div id="page-wrapper">
            <!-- All partials will goes here -->
            {{{body}}}
            <!-- /.container-fluid -->

        </div>


       {{> footernavclient}}

</div>
<script src="/js/jquery-1.12.3.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>  
<script src="/js/jquery-ui.min.js"></script> 
<!-- <script src="/js/fotorama.js"></script>  -->
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/custom.js"></script>
</body>
</html>
