<!DOCTYPE html>
<html lang="en">

    {{> head}}

<body>

    <div id="wrapper">

        {{> headerNav}}

        <div id="page-wrapper">
            <!-- All partials will goes here -->
            {{{body}}}
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>
    <script>
        $(document).ready(function () {
            console.log('---ok ready---')
        });
    </script>
</body>

</html>
