            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Welcome <small>{{first_name}} {{last_name}}</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <button id='createEvent'>
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Create Event</div>
                                        <!-- <div>Create Event</div> -->
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">View Contacts</div>
                                        <!-- <div>View</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Event Calender</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button >
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Reports</div>
                                    </div>
                                </div>
                            </div>

                        </button>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
    
                            <div class="panel-body">
                                <div class="table-responsive">
                                    
                             <form method='post' action="/api/events/create" enctype="multipart/form-data" >
                                <div class="login-form">
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="Event Name" id="event_name" name='event_name' required> </div>
                                    <div class="control-group">
                                        <input type="date" class='login-field' name="event_date" id='event_date' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="time" class='login-field' name="event_time" id='event_time' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="venue" id="venue" name='venue' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="Address" id="address" name='address' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="City" id="city" name='city' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="State" id="state" name='state' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="Zip" id="zipcode" name='zipcode' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="login-field" placeholder="Event Contact" id="event_contact" name='event_contact' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="email" class="login-field" placeholder="Email" id="event_contact_email" name='event_contact_email' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="tel" class="login-field" placeholder="Phone Number" id="event_contact_phone_number" name='event_contact_phone_number' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="tel" class="login-field" placeholder="Decription" id="description" name='description' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="tel" class="login-field" placeholder="Event Website" id="website" name='website'>
                                    </div>
                                    <div class="control-group">
                                        <input type="number" class="login-field" placeholder="Online Price" id="online_price" name='online_price' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="number" class="login-field" placeholder="Door Price" id="door_price" name='door_price' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="date" class="login-field" placeholder="Ticket Sales Start" id="tickets_start" name='tickets_start' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="date" class="login-field" placeholder="Tickets End" id="tickets_end" name='tickets_end' required>
                                    </div>
                                    <div class="control-group">
                                        <input type="number" class="login-field" placeholder="Allotment" id="allotment" name='allotment' required>
                                    </div>
                                    <!-- Uploading flyer with events  -->
                                    <label for="Flyer for event" >Upload Flyer: </label></br>
                                        <input type='file' name='eventFlyer' id='flyerUpLoad' required>
            
                                    <div>Optional Info to Collect</div>
                                     <div class="control-group">
                                        <input type="checkbox" name="gender" id='checked'>Gender<br>
                                    </div>
                                     <div class="control-group">
                                        <input type="checkbox" name="dob" id='checked'>Date of Birth<br>
                                    </div>
                                     <div class="control-group">
                                        <input type="checkbox" name="income_bracket" id='checked'>Income Bracket<br>
                                    </div>
                                     <div class="control-group">
                                        <input type="checkbox" name="education" id='checked'>Education Level<br>
                                    </div> 
                                     <div class="control-group">
                                        <input type="checkbox" name="ethnicity" id='checked'>Ethnicity<br>
                                    </div>  
                                     <div class="control-group">
                                        <input type="checkbox" name="religion" id='checked'>Religion<br>
                                    </div>                                                                                                                                                 
                                    <button class="btn btn-primary btn-large btn-block" href="client.html" type='submit'>Create</button>
                                </div>
                            </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->