<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <div><img src="/uploads/{{event.event_flyer}}" height="100" width="100"/></div>
                        <h1 class="page-header">
                            Event: <small>{{event.event_name}}</small>
                        </h1>
                        <h1 class="page-header">
                            Date: <small>{{event.event_date}}</small>
                        </h1>
                        <h1 class="page-header">
                            Location: <small>{{event.event_venue}}</small>
                        </h1>
                        <h4>{{event.event_address}}<br> {{event.event_city}}, {{event.event_state}} {{event.event_zip}}</h4>
                        <h1 class="page-header">
                            Time: <small>{{event.event_time}}</small>
                        </h1>                        
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
    
                            <div class="panel-body">
                                <div class="table-responsive">
                                 
                                    <!-- For one event only  -->
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Event Name</th>
                                                <th>Event Date</th>
                                                <th>Event Location</th>
                                                <th>Allotment</th>
                                                <th>Sold</th>
                                                <th>Revenue</th>
                                                <th>Flyer</th>                                                 
                                            </tr>
                                        </thead>
                                       <tbody>
                                           {{#if event}} 
                                            <tr>
                                                
                                                <td> {{event.id}}</td>
                                                <td><a href="/events/{{event.id}}/{{event.event_name}}" id={{event.id}}>{{event.event_name}}</a></td>
                                                <td> {{event.event_date}}</td>
                                                <td> {{event.event_venue}}</td>
                                                <td> {{event.ticket_allotment}}</td>
                                                <td> {{event.sold}}</td>
                                                <td> ${{event.revenue}}</td>
                                                <td> <img src="/uploads/{{event.event_flyer}}" height="100" width="100"/></td>                    
                                            </tr>
                                          
                                            {{/if}}   
                                            <!-- For all events 
                                    {{#if events}} -->
                                   
                                  
                                        </tbody>
                                    </table>
                                    {{/if}}   
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

</div>