<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]--> 


 
  <div class="sidebar-search-wrap">
    <div class="sidebar-table-container">
      <div class="sidebar-align-container">
        <div class="search-closer right-side"></div>
        <div class="search-container">
          <form method="get" id="search-form">
            <input type="text" id="s" class="search-input" name="s" placeholder="Start Searching">
          </form>
          <span>Search and Press Enter</span>
        </div>
      </div>
    </div>
  </div> -->
  <!-- HEADER END --> 
 
  
  <!-- CONTAIN START -->
  <section class="pt-95">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5 col-sm-5 mb-xs-30">
             
               <img src="/../uploads/{{event.event_flyer}}" style='height: 100%; width: 100%; object-fit: contain' />

            </div>
            <div class="col-md-7 col-sm-7">


              <div class="row">
                <div class="col-xs-12">
                  <div class="product-detail-main">
                    <div class="product-item-details">
                      <h1 class="product-item-name">{{event.event_name}}</h1>
                      <div class="price-box"> <span class="price">Online Price: {{event.online_price}}</span> <br>
                        <span class="price">Price at Door: {{event.door_price}}</span> </div>
                      <div class="product-info-stock-sku">
                        <div>
                          <label>When: </label>
                          <span class="info-deta">
                            <h4>Date: {{event.event_date}}</h4>
                            <h4>Time: {{event.event_time}}</h4> 
                          </span> </div>
                        <div>
                          <label>Where: </label>
                            <span class="info-deta">
                              <h4>Venue: {{event.event_venue}}</h4>
                              <h4>Address: {{event.event_address}} {{event.event_city}}, {{event.event_state}} {{event.event_zip}}</h4>
                          </span> </div>
                      </div>
                      <p>{{event.event_description}} </p>

                      <div class="mb-20">
                        <div class="product-qty">
                          <label for="qty">Qty:</label>
                          <div class="custom-qty">
                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) result.value--;return false;" class="reduced items" type="button"> <i class="fa fa-minus"></i> </button>
                            <input type="text" class="input-text qty" title="Qty" value="1" maxlength="8" id="qty" name="qty">
                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items" type="button"> <i class="fa fa-plus"></i> </button>
                          </div>
                        </div>
                        <div class="bottom-detail cart-button">
                          <ul>
                            <li class="pro-cart-icon">
                              <!-- <form> -->
                                <button title="Add to Cart" class="btn btn-color" id='addToCart'><span></span>Add to Cart</button>
                              <!-- </form> -->
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="bottom-detail">
                        <ul>
                          <li class="pro-email-icon"><a href="#"><span></span>Email to Friends</a></li>
                        </ul>
                      </div>
                      <div class="share-link">
                        <label>Share This : </label>
                        <div class="social-link">
                          <ul class="social-icon">
                            <li><a class="facebook" title="Facebook" href="#"><i class="fa fa-facebook"> </i></a></li>
                            <li><a class="twitter" title="Twitter" href="#"><i class="fa fa-twitter"> </i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          Contact:
          {{event.event_contact_phone}}<br>
          {{event.event_contact_email}}<br>
          {{event.event_website}}

        </div>
      </div>
    </div>
  </section>

  <section class="ptb-95">
    <div class="container">
      <div class="product-detail-tab">
        <div class="row">
          <div class="col-md-12">
            <div id="tabs">
              <ul class="nav nav-tabs">
                <li><a class="tab-Description selected" title="Description">Description</a></li>
              </ul>
            </div>
            <div id="items">
              <div class="tab_content">
                <ul>
                  <li>
                    <div class="items-Description selected ">
                      <div class="Description"> <strong>{{event.event_name}}</strong><br />
                        <p>{{event.event_description}}</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


